<ion-header [translucent]="true">
  <ion-toolbar class="bg-yellow">
    <img src="assets/img/logo-duoc.svg" class="toolbar-image" width="auto" height="40px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="mdl_user" label="Usuario" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="mdl_pass" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button (click)="login()" expand="block" class="bg-dark"> 
    <ion-spinner name="lines" class="ion-margin-end" *ngIf="spinnerVisible"></ion-spinner>
    Ingresar 
  </ion-button>
  <ion-button (click)="nuevoUsuario()" fill="clear">Nuevo usuario</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Error de credenciales"
    [duration]="2000"
    (didDismiss)="setOpen(false)"
    position="bottom"
    icon="alert-circle-outline"
    class="toast-error"
  ></ion-toast>
</ion-content>
