<ion-header [translucent]="true">
  <ion-toolbar class="bg-yellow">
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.username" placeholder="Usuario" label="Usuario" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.password" type="password" placeholder="Contraseña" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.name" placeholder="Nombre" label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="register()" class="bg-dark">Registrar</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Usuario creado satisfactoriamente"
    [duration]="2000"
    (didDismiss)="setOpen(false)"
    position="bottom"
    icon="checkmark-circle-outline"
    class="toast-usuario-creado"
  ></ion-toast>
</ion-content>
