<ion-header [translucent]="true">
  <ion-toolbar class="bg-yellow">
    <ion-title>Registrar usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.username" placeholder="Usuario" label="Usuario" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.password" type="password" placeholder="Contraseña" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="nuevoUsuario.name" placeholder="Nombre" label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="register()" class="bg-dark">Registrar</ion-button>
  <ion-toast
    [isOpen]="isToastOpenCreated"
    message="Usuario creado satisfactoriamente"
    [duration]="2000"
    (didDismiss)="setOpenCreated(false)"
    position="bottom"
    icon="checkmark-circle-outline"
    class="toast-OK"
  ></ion-toast>
  <ion-toast
    [isOpen]="isToastOpenError"
    message="El usuario ya existe!"
    [duration]="2000"
    (didDismiss)="setOpenError(false)"
    position="bottom"
    icon="alert-circle-outline"
    class="toast-error"
  ></ion-toast>
</ion-content>
